<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="">
        <mapping class="com.github.fluent.hibernate.example.mysql.persistent.User" />
        <mapping class="com.github.fluent.hibernate.example.mysql.persistent.UserAddress" />
        <mapping class="com.github.fluent.hibernate.example.mysql.persistent.UserFriend" />

        <mapping resource="hibernate/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>